/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');

/* :root {
    --tg-theme-bg-color: #101c26;
    --tg-theme-secondary-bg-color: #243441;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #fff;
}

button {
    background-color: none;
    background: none;
}