
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/* :root {
    --tg-theme-bg-color: #101c26;
    --tg-theme-secondary-bg-color: #243441;
} */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    color: var(--tg-theme-text-color);
    background-color: var(--tg-theme-bg-color);
}

button {
    background: var(--tg-theme-button-color);
    color: var(--tg-theme-button-text-color);
}
a {
    color: var(--tg-theme-link-color);
}
.hint-color {
    color: var(--tg-theme-hint-color) !important;
}
.second-bg-color {
    background-color: var(--tg-theme-secondary-bg-color);
}

/* Реюз анимации */
.entrance {
    animation: fade 0.5s ease 0s 1 normal forwards;
}
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}